body {
    font-family: "Roboto", serif;
}

p {
    font-size: 20px;
}


.img-responsive {
    width: 1200px !important;
    height: 450px !important;
}
h2 {
    color: #215eef;
}
h3{
    color: #215eef;
    font-size: 20px;
}

/* Mapa */
#mapa {
    width: 100%;
    height: 500px;
}

/* Menu */
.Elements ul li a {
    font-size: 18px;
}

/*Carousel*/
#carouselExampleControls {
    max-height: 703px;
    background-size: cover;
    background-position: center;
}
.carousel .carousel-item {
    height: 500px;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 500px;
}
/*imgs efects*/
.zoom {
    transition: transform 0.2s;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.5);

}
/*Buttons*/
#btnEnviar{
    background-color: #215eef;
    color: #ffffff;
    width: 100%;
}
#btnEnviar:hover{
    background-color: #2B81D6;
}
/*Other*/
.contact p a{
    color: #000000;
    text-decoration: none;
}